img,
.highlight code {
    border-radius: 10px;
}

li {
    line-height: normal;
}

[dir=ltr] .md-header__title {
    margin-left: 0;
}

.md-content {
    margin-bottom: 40px;
}

.md-typeset .admonition {
    border-width: 0 0 0 5px;
}

.md-typeset__table {
    width: 100%;
}

.md-typeset__table table:not([class]) {
    display: table
}

.md-typeset__table th:first-child {
    width: 180px;
}